
.footer-container {
  height: 200px;
  position: relative;
  background-color: #353a68;
    color: thistle;
  /* border: 3px solid green; */
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
  }